<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Megathon 2k19</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static "css/mdb.min.css" %} rel="stylesheet">
</head>

<!--Main Navigation-->
<header>

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/">
        <strong class="blue-text">Smart Drain</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>

        <!-- Right -->
         <ul class="navbar-nav nav-flex-icons">
           <li class="nav-item">
             <a href="https://github.com/aadilmehdis/Megathon2K19" class="nav-link border border-light rounded waves-effect"
               target="_blank">
               <i class="fab fa-github mr-2"></i>Our GitHub Repo
             </a>
           </li>
         </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->

</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5 pt-5">
  <div class="container">

    {% block content %}{% endblock %}

  </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

  <!--Copyright-->
  <div class="footer-copyright py-3">
    Made with <3 from IIIT Hyderabad
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->

  <!-- SCRIPTS -->

  <!-- JQuery -->
  <script type="text/javascript" src={% static "js/jquery-3.4.1.min.js" %}></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src={% static "js/popper.min.js" %}></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src={% static "js/mdb.min.js" %}></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>

  {% block script %}{% endblock %}
</body>

</html>
