{% extends "home/base.html" %}

{% block content %}
    <!--Section: Cards-->
    <section class="text-center">
      {% for s in sensors %}

        {% if forloop.counter|divisibleby:2 is not True %}
          <h3> Region : {{ s.location }}</h3>
          <!--Grid row-->
          <div class="row mb-4 wow fadeIn">

        {% endif %}

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Card-->
          <div class="card">

          <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Sensor {{ s.pk }}</h4>
              <a href="sensor/{{ s.pk }}"
                class="btn btn-primary btn-md">View sensor info
                <i class="fas fa-play ml-2"></i>
              </a>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        {% if forloop.counter|divisibleby:2 %}
          </div>
          <!--Grid row-->
        {% endif %}

    {% endfor %}

    </section>
    <!--Section: Cards-->
{% endblock %}
