<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

<!-- Create an element where the map will take place -->
<div id="lell"></div>
<svg id="my_dataviz" width="880" height="600"></svg>
<script>

    setInterval(function() {
        window.location.reload();
        const Http = new XMLHttpRequest();
        const url="http://127.0.0.1:8000/predict_back";
        Http.open("GET", url);
        Http.send();

        Http.onreadystatechange = (e) => {
        console.log(Http.responseText)
        console.log("lel")
        }
    }, 5000)
    

    // The svg
    var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");
    // Map and projection
    var projection = d3.geoMercator()
        .scale(550) // This is the zoom
        .translate([1450, 650]); // You have to play with these values to center your map
    // Path generator
    var path = d3.geoPath()
        .projection(projection)
    // Load external data and boot
    d3.json("http://localhost:7000/data.json", function(data){
        console.log(data)
    document.getElementById('lell').innerHTML = `
                Sensor:
                </br>
                Flow Rate:
                </br>
                Status:
                </br> 
                `

      // Draw the map
      svg.append("g")
          .selectAll("path")
          .data(data.features)
          .enter()
          .append("path")
              .attr("fill", function(d){
                  if (d.properties.type == "land")
                  {
                    if(d.properties.area == "A"){
                        console.log("SMD")
                        return "#D787D7";
                    }
                    else if(d.properties.area == "B"){
                        return "#A187D7";
                    }
                    else if(d.properties.area == "C"){
                        return "#93c572";
                    }
                    else if(d.properties.area == "D"){
                        return "#D79587";
                    }
                    else if(d.properties.area == "E"){
                        return "#87D7CF";
                    }
                  }
                  else
                  {
                      if(d.properties.status == "normal")
                      {
                          return "green";
                      }
                      else if(d.properties.status == "critical")
                      {
                          return "crimson";
                      }
                      else if(d.properties.status == "clogged")
                      {
                          return "yellow";
                      }
                  }

                  return d.properties.area})
              .attr("d", path)
              .on('mouseover', function(d) {
                  if(d.properties.type == "sensor"){
                    document.getElementById('lell').innerHTML = `
                    Sensor: #${d.properties.iso3166_2}
                    </br>
                    Flow Rate: ${d.properties.rate} gallons/minute
                    </br>
                    Status: ${d.properties.status}
                    </br> 
                    `
                  }
              })
              .on('mouseout', function() {
                document.getElementById('lell').innerHTML = `
                Sensor:
                </br>
                Flow Rate:
                </br>
                Status:
                </br> 
                `
              })

      // Add the labels
      svg.append("g")
          .selectAll("labels")
          .data(data.features)
          .enter()
          .append("text")
            .attr("x", function(d){return path.centroid(d)[0]})
            .attr("y", function(d){return path.centroid(d)[1]})
            .text(function(d){ 
                return d.properties.area
            })
            .attr("text-anchor", "middle")
            .attr("alignment-baseline", "central")
            .style("font-size", 11)
            .style("fill", "white")
    })
    </script>
