{% extends "home/base.html" %}
{% load staticfiles %}
  {% block headstyles %}
  <style>
  .bg {
    background-image: url("{% static "img/jumbotron-background.png" %}");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
  </style>
  {% endblock %}

{% block content %}
    <!--Section: Jumbotron-->
    <section class="card bg wow fadeIn" id="intro">

      <!-- Content -->
      <div class="card-body text-white text-center py-5 px-5 my-5">

        <h1 class="mb-4">
          <h1 class="display-3"><i class="fas fa-water"></i> Drain Monitor</h1>
        </h1>
        <p>
          <h4 class="display-5">Smart Drainage System using AI, Cloud & IoT capabilities</h4>
        </p>
        <p class="mb-4">
          <h4 class="display-5">Developed for Megathon 2019</h4>
        </p>
        <p class="mb-4">
          <h4 class="display-5">Team name: BT_MAX</h4>
        </p>
      </div>
      <!-- Content -->
    </section>
    <!--Section: Jumbotron-->

    <hr class="my-5">

    <!--Section: Cards-->
    <section class="text-center">

        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">


        <!--Grid column-->
        <div class="col-md-6 mb-4">

              <a href="/details"
                class="btn blue-gradient btn-lg">Nodes
                <i class="fas fa-play ml-2"></i>
              </a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

              <a href="/predict"
                class="btn blue-gradient btn-lg">Prediction
                <i class="fas fa-play ml-2"></i>
              </a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Cards-->

{% endblock %}
