{% extends "home/base.html" %}
{% load staticfiles %}
  {% block headstyles %}
  <style>
  .bg {
    background-image: url("{% static "img/jumbotron-background.png" %}");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
  </style>
  {% endblock %}

{% block content %}
    <!--Section: Jumbotron-->
    <section class="card bg wow fadeIn" id="intro">

      <!-- Content -->
      <div class="card-body text-white text-center py-5 px-5 my-5">

        <h1 class="mb-4">
          <h1 class="display-3"><i class="fas fa-water"></i> Drain Monitor</h1>
        </h1>
        <p>
          <h4 class="display-5">Smart Drainage System using AI, Cloud & IoT capabilities</h4>
        </p>
        <p class="mb-4">
          <h4 class="display-5">Developed for Megathon 2019</h4>
        </p>
        <p class="mb-4">
          <h4 class="display-5">Team name: BT_MAX</h4>
        </p>
      </div>
      <!-- Content -->
    </section>
    <!--Section: Jumbotron-->

    <hr class="my-5">

    <!--Section: Cards-->
    <section class="text-center">

      <!--Grid row-->
      <div class="row mb-4 wow fadeIn">

        <!--Grid column-->
        <div class="col-md-12 mb-4">
            <h3> IoT Sensor Visualization </h3>
            <h5> Red : Critical flow rate </h5>
            <h5> Green : Safe flow rate </h5>
            <h5> Yellow : Low flow rate </h3>
              <div id="lell"></div>

            <!-- Create an element where the map will take place -->
            <svg id="my_dataviz" width="880" height="600"></svg>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


      <!--Grid row-->
      <div class="row mb-4 wow fadeIn">

        <!--Grid column-->
        <div class="col-md-12 mb-4">

              <a href="/details"
                class="btn blue-gradient btn-lg">Nodes
                <i class="fas fa-play ml-2"></i>
              </a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <!-- <div class="col-md-6 mb-4">

              <a href="/predict"
                class="btn blue-gradient btn-lg">Prediction
                <i class="fas fa-play ml-2"></i>
              </a>

        </div> -->
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Cards-->

{% endblock %}

{% block script %}
<script>

  setInterval(function() {
      window.location.reload();
      const Http = new XMLHttpRequest();
      const url="http://127.0.0.1:8000/predict_back";
      Http.open("GET", url);
      Http.send();

      Http.onreadystatechange = (e) => {
      console.log(Http.responseText)
      console.log("lel")
      }
  }, 5000)
  

  // The svg
  var svg = d3.select("svg"),
      width = +svg.attr("width"),
      height = +svg.attr("height");
  // Map and projection
  var projection = d3.geoMercator()
      .scale(550) // This is the zoom
      .translate([1450, 650]); // You have to play with these values to center your map
  // Path generator
  var path = d3.geoPath()
      .projection(projection)
  // Load external data and boot
  d3.json("http://localhost:7000/data.json", function(data){
      console.log(data)
  document.getElementById('lell').innerHTML = `
              Sensor:
              </br>
              Flow Rate:
              </br>
              Status:
              </br> 
              `

    // Draw the map
    svg.append("g")
        .selectAll("path")
        .data(data.features)
        .enter()
        .append("path")
            .attr("fill", function(d){
                if (d.properties.type == "land")
                {
                  if(d.properties.area == "A"){
                      console.log("SMD")
                      return "#D787D7";
                  }
                  else if(d.properties.area == "B"){
                      return "#A187D7";
                  }
                  else if(d.properties.area == "C"){
                      return "#93c572";
                  }
                  else if(d.properties.area == "D"){
                      return "#D79587";
                  }
                  else if(d.properties.area == "E"){
                      return "#87D7CF";
                  }
                }
                else
                {
                    if(d.properties.status == "normal")
                    {
                        return "green";
                    }
                    else if(d.properties.status == "critical")
                    {
                        return "crimson";
                    }
                    else if(d.properties.status == "clogged")
                    {
                        return "yellow";
                    }
                }

                return d.properties.area})
            .attr("d", path)
            .on('mouseover', function(d) {
                if(d.properties.type == "sensor"){
                  document.getElementById('lell').innerHTML = `
                  Sensor: #${d.properties.iso3166_2}
                  </br>
                  Flow Rate: ${d.properties.rate} gallons/minute
                  </br>
                  Status: ${d.properties.status}
                  </br> 
                  `
                }
            })
            .on('mouseout', function() {
              document.getElementById('lell').innerHTML = `
              Sensor:
              </br>
              Flow Rate:
              </br>
              Status:
              </br> 
              `
            })

    // Add the labels
    svg.append("g")
        .selectAll("labels")
        .data(data.features)
        .enter()
        .append("text")
          .attr("x", function(d){return path.centroid(d)[0]})
          .attr("y", function(d){return path.centroid(d)[1]})
          .text(function(d){ 
              return d.properties.area
          })
          .attr("text-anchor", "middle")
          .attr("alignment-baseline", "central")
          .style("font-size", 11)
          .style("fill", "white")
  })
  </script>

{% endblock %}
