{% extends "home/base.html" %}

{% block content %}
    <!--Section: Cards-->
    <section class="text-center">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-12 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Sensor {{ s.pk }} Details</h4>
                <hr class="my-3">

                <h6 class="card-title">Region : {{ s.location }}</h6>
                <h6 class="card-title">Material :  {{ s.material }}</h6>
                <h6 class="card-title">Diameter : {{ s.diameter }}</h6>
                <h6 class="card-title">Angle : {{ s.angle }}</h6>
                <h6 class="card-title">Elevation : {{ s.elevation }}</h6>

              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-12 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!-- Card header -->
              <div class="card-header">Average storm water flow per day</div>

              <!--Card content-->
              <div class="card-body">

                <canvas id="lineChart"></canvas>

              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Cards-->
{% endblock %}


{% block script %}
<script>
        var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
            type: 'line',
            data: {

                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                        label: "Avg flow",
                        backgroundColor: [
                        'rgba(0, 250, 220, .2)',
                        ],
                        borderColor: [
                            'rgba(0, 213, 132, .7)',
                        ],
                        borderWidth: 2,
                        data: [65, 59, 80, 81, 56, 55, 40]
                    }
                ]
            },
            options: {
                responsive: true
            }
        });
</script>

{% endblock %}
