{% extends "home/base.html" %}

{% block content %}
    <!--Section: Cards-->
    <section class="text-center">

        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">


        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Sensor {{ s.pk }}</h4>

              <h6 class="card-title">Region : {{ s.location }}</h6>
              <h6 class="card-title">Material :  {{ s.material }}</h6>
              <h6 class="card-title">Diameter : {{ s.diameter }}</h6>
              <h6 class="card-title">Angle : {{ s.angle }}</h6>
              <h6 class="card-title">Elevation : {{ s.elevation }}</h6>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Cards-->
{% endblock %}
